<md-content class="login-content" ng-controller="ResetPasswordCtrl"
  layout layout-align="center">

  <md-card flex-gt-sm="25" flex="100" layout-padding>
    <form name="form" novalidate>
      <md-card-content layout-padding layout="column">
        <p class="md-body-2 text-center">
          Setze dein Passwort zurück
        </p>
        <md-input-container>
          <label>Emailadresse</label>
          <input name="email" ng-model="email" required>
          <div ng-messages="form.email.$error" ng-show="form.$submitted">
            <div ng-message="required">Dieses Feld wird benötigt</div>
          </div>
        </md-input-container>
      </md-card-content>
      <div class="md-actions" layout="column" layout-align="start">
        <md-button type="submit" class="md-primary md-raised" md-no-ink
          ng-disabled="isLoading"
          ng-click="onResetPassword(form)">
          Senden
        </md-button>
        <br>
        <md-button href="/login" class="md-primary" md-no-ink>
          Zurück zur Anmeldung
        </md-button>
      </div>
    </form>
  </md-card>
</md-content>
